// seletor{propriedade:valor;}
// comentario de apenas uma linha;
/*
comentario de varias linhas
*/
// * é o seletor global
*{
    margin: 0;
    // espaçamento externo das tags
    padding: 0;
    box-sizing: border-box;
    // Faz o calcuo correto dos tamanhos dos elementos
}



// seletor{propriedade:valor;}
// tag - seletor
// img - estou colocando todas as imagens
img{
    width: 150px;
}
// class - seletor 
.titulo{
    color: red;
}

#btn1{
    background-color: blueviolet;
}


