// seletor{propriedade:valor;}
// comentario de apenas uma linha;
/*
comentario de varias linhas
*/
// * é o seletor global
*{
    margin: 0;
    // espaçamento externo das tags
    padding: 0;
    box-sizing: border-box;
    // Faz o calcuo correto dos tamanhos dos elementos
}

header{
    background-color: rgb(112, 6, 6);
}

// seletor{propriedade:valor;}
// tag - seletor
// img - estou colocando todas as imagens
img{
    width: 150px;
}
// class - seletor 
.titulo{
    color: black;
}

#btn1{
    background-color: rgb(117, 7, 7);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(68, 4, 4);
    h1{
        color: wi;
    }
}

a{
    text-decoration: name;
    // retirei o sublinhado da tag a
    color: black;
    padding: 5px;
}



